<!-- 

This launch file shows how to start a hokuyo node. 

You may have to change the port parameter if your laser is not at
/dev/ttyACM0.

If you have rviz built, you can uncomment the rviz node to visualize the
laser data.

Otherwise, you can use rostopic to see the data:
rostopic echo /scan

-->

<launch>

  <node name="hokuyo0" pkg="hokuyo_node" type="hokuyo_node" > 
    <remap from="/scan" to="vertical_laser_2d"/>
    <param name="port" type="string" value="/dev/ttyACM0"/>  
    <param name="min_ang"  value="-2.356194490125"/>  
    <param name="max_ang"  value="2.356194490125"/>  
  </node>



  <node pkg="test_slam" type="imuPAGS" name="imu" />
  
  <node pkg="tf" type="static_transform_publisher" name="link_to_laser" args="0 0 1 0 0 0 1 /base_link /laser 100" />
  
  <node pkg="rosbag" type="record" name="record" output="screen" args="-o $(find test_slam)/data/sensor -a"/> 
  

  <!-- 
  
    <node name="hokuyo1" pkg="hokuyo_node" type="hokuyo_node" > 
    <remap from="/scan" to="laserVertL/scan"/>
    <param name="port" type="string" value="/dev/ttyACM2"/>  
    <param name="min_ang"  value="-2.356194490125"/>  
    <param name="max_ang"  value="2.356194490125"/> 
  </node>

  <node name="hokuyo2" pkg="hokuyo_node" type="hokuyo_node" >  
    <remap from="/scan" to="laserVertR/scan"/>
    <param name="port" type="string" value="/dev/ttyACM0"/> 
    <param name="min_ang"  value="-2.356194490125"/>  
    <param name="max_ang"  value="2.356194490125"/> 
  </node>
  <remap from="/scan" to="laserHoriz/scan"/>
  <rosparam command="load" file="$(find test_slam)/config/hokuyo30lx.yaml"/>
  <node pkg="tf" type="static_transform_publisher" name="link_to_laser" args="-0.02 -0.1 -1.050 0 -0.70710678118655 -0.70710678118655 0 /base_link /laser 100" />
  <node pkg="test_slam" type="port" name="port" />
  -->
  
</launch>
